[2019-03-27 17:48] hamidhtc opened #13 "TRANSLATION THIS BOT"
HI
HOW CAN I TRANSLATE  THIS BOT ?

[2019-04-02 13:46] backmeupplz commented on #13
Hi there, please, translate the strings from `src/helpers/strings.ts` and submit a pull request :)

[2019-04-02 13:46] #13 closed

[2019-04-07 15:21] kslr opened #14 "Compatible with "-" language key"
such as zh-CN

In addition, how do you feel about adding mathematical formulas?

[2019-04-07 15:40] backmeupplz commented on #14
Nothing in the codebase should prevent one from adding locales with `-` in their language key :)

As for math formulas: Shieldy already supports `digits` captcha which is still not breached by spammers but easy enough for humans to be let through :) increasing the difficulty of digits captcha will not stop spammers if they get through but will complicate things for humans

[2019-04-07 15:40] #14 closed

[2019-04-14 09:53] b0g3r opened #16 "Add command which changes status of the newcomer"
For example: `/trust @b0g3r`

[2019-04-14 16:55] backmeupplz commented on #16
Interesting idea, I'll see what I can do

[2019-04-14 18:10] backmeupplz commented on #16
Added `/trust`, but in order to use it you have to reply to any message sent by person you want to trust :) it will remove them from the newcomers list as well as it will lift all the restrictions

[2019-04-14 18:10] #16 closed

[2019-05-01 16:07] darkayme60 opened #19 "French language"
Hello can you add french language plz?
Translation:
Digits:(Number+Number)(Name), merci d'envoyer la solution de l'équation dans le temps imparti sur ce groupe où vous serez banni.merci! (Time)
Simple: (name)merci d'envoyer un message dans le temps imparti où vous serez banni(time)
Button: (name)merci de cliquer sur le bouton dans le temps imparti où vous serez banni (time)
Thank you ;)

[2019-05-01 16:09] backmeupplz commented on #19
Can you translate all the english strings, please? :)

[2019-05-01 16:09] backmeupplz commented on #19
https://github.com/backmeupplz/shieldy/blob/master/src/helpers/strings.ts — here's the file

[2019-05-01 16:09] backmeupplz commented on #19
please, reopen the issue if you want to work on it ;)

[2019-05-01 16:09] #19 closed

[2019-05-08 18:48] maximal opened #20 "More human-readable wording in greeting"
For example, in Russian:

↓

[2019-05-08 18:50] backmeupplz commented on #20
Would be great but I'm to lazy

[2019-05-08 18:52] maximal commented on #20
Where is the message template?

[2019-05-08 18:55] backmeupplz commented on #20
All three phrases are here: https://github.com/backmeupplz/shieldy/blob/5a22839f4c35753ed15c256ef041be7f8beeff80/src/helpers/strings.ts#L344, it's used here: https://github.com/backmeupplz/shieldy/blob/5a22839f4c35753ed15c256ef041be7f8beeff80/src/helpers/newcomers.ts#L278

[2019-05-13 12:14] KlausDevWalker opened #21 "More options for time waiting to verification"
You could add buttons (like "-" and "+" and/or "sec", "min", "hour") so we can customize it in a better way. The present option is kicking users too fast before they participate. My group is a small one, so people subscribe, see that it's no active convo and go somewhere else and don't see that it's been asked them to take some action.

[2019-05-15 10:02] Shulyaka opened #22 "Feature request: auto-delete greeting messages"
Hi!

Because people tend to join chats just for reading, the greeting messages usually flood the chat. It would be awesome if Shieldy could remove all its greetings after a set period of time (e.g. 3 min, which is enough time for an average person to understand he/she is welcome).
Shieldy is nice, but its messages are not usually in line with actual chat topic and other discussions in the chat. It

[2019-06-08 01:46] SVETaMan commented on #20
А

[2019-06-29 01:00] chaseblackmon commented on #22
Couldn't agree more. It could be as simple as a command /shieldy silentgreeting 3m

[2019-06-30 16:50] backmeupplz commented on #22
kekeke if it's that simple, feel free to submit a pull request

[2019-07-16 17:14] BiroStorm opened #24 "Unban user after time runs out"
Hello,

I just discovered that if the bot kicks out a user, the user will be unban (or unlimited) and can rejoin the group without limitations.
To simulate, it's very simple:

- Set up the bot to kick if user doesn't solve the CAPTCHA.

- Lets someone joins the group and manually (or with another bot) ban him from the group

- after the time runs out wait few seconds and the user should be able to

[2019-07-23 16:27] backmeupplz commented on #24
It's not a bug, it's a feature. Shieldy kicks users, it doesn't ban them.

[2019-07-23 16:45] BiroStorm commented on #24
Exactly, Shieldy kicks users but to do that automatically unban the user if he is already banned.
This is what I mean ^^''

[2019-07-23 16:50] backmeupplz commented on #24
Oh, I see what you mean. Yeah, it's a known issue, I'm working on it

[2019-08-27 00:28] Ixby opened #27 "whitelist users added by admins"
If users are added by an admin, they should be whitelisted.

[2019-08-27 16:06] pakLebah opened #30 "Feature request: Add simple internal group statistics."
My group needs to evaluate members activity periodically. So, we need some kind of members activity statistics. But we don't want to use those fancy and over-complicated stats-bot like the ones popular out there. We simply need these informations:

1. Number of **total** messages sent into the group within a time period.
2. Number of **total** members involved in the conversation within a time per

[2019-08-27 16:17] pakLebah opened #31 "Feature request: Remove deleted account and last seen long time ago."
In most large groups, it's common to see lots of inactive or deleted accounts and inactive users who haven't been logged in to Telegram for a long time. These people are junks to the group and create false data of real members of the group. So, could you provide a command to remove deleted account and members who last seen is long time ago? I propose `/remove_deleted_account` and `/remove_inactive

[2019-08-31 01:55] backmeupplz commented on #27
Interesting idea, I'll think about ot

[2019-08-31 01:56] backmeupplz commented on #30
Sounds like an entire separate bot. Sorry, but this function is out of scope for @shielfy_bot. But thank you for suggestion.

[2019-08-31 01:56] #30 closed

[2019-08-31 02:02] backmeupplz commented on #31
There are existing solutions on Telegram that can already do this :) but thanks for the suggestion

[2019-08-31 02:02] #31 closed

[2019-08-31 12:47] pakLebah commented on #31
The existing solution is to remove them one by one. In large groups with hundreds or even thousands of members, it's practically undoable. These proposed commands remove them altogether.

[2019-08-31 15:50] backmeupplz commented on #31
@pakLebah try https://t.me/crosser_bot ;)

[2019-09-01 00:24] pakLebah commented on #31
It looks like what I need. Unfortunately, it only speaks in Russian. I wish it also speaks in English too, at least. 😓

[2019-09-05 06:14] Linecutterx opened #33 "feature request: block usernames which are spam"
If I make my spam bot with the typical click bait text +  URL then it will display in each group that <spam text> has joined the group. Which achieves the spamming, without needing to actually post anything.
Shield would have to ban & delete these bots before the captcha phase though.

[2019-09-05 14:19] backmeupplz commented on #33
Use /deleteEntryMessages ;)

[2019-09-05 14:19] #33 closed

[2019-09-16 19:26] backmeupplz commented on #27
Should be done now, @Ixby would be great if you could verify, thank you

[2019-09-16 19:26] #27 closed

[2019-09-16 19:42] backmeupplz commented on #21
Should now be available by using the command like `/timeLimit 7200`. Let me know if it works, cheers.

[2019-09-16 19:42] #21 closed

[2019-09-16 20:47] backmeupplz commented on #20
I've added `/customCaptchaMessage` command :) hope it's sufficient.

[2019-09-16 20:47] #20 closed

[2019-09-18 15:13] backmeupplz commented on #22
Done, please, use `/deleteGreetingTime 100` command. Cheers!

[2019-09-18 15:13] #22 closed

[2019-09-19 13:23] backmeupplz commented on #24
Alright, after investigation I've found that Shieldy might interfere with other bots by unbanning them (it kicks users, doesn't ban them). So I've introduced `/banUsers` command that will ban the users forever instead :)

[2019-09-19 13:23] #24 closed

[2019-09-21 18:42] MarcAnt01 opened #35 "[Feature Request] Ban users if it is the second time they haven't passed the captcha"
I think the first time the user should be kicked since they might not have understood about the captcha, but the second time it'll be better to ban them

[2019-09-22 03:36] backmeupplz commented on #35
Shieldy deletes all the records of the newcomers who don't pass the captcha, so it's fine if they try to join again and again. Also, you can use `/banUsers`, if you want.

[2019-09-22 03:36] #35 closed

[2019-09-22 08:52] MarcAnt01 commented on #35
Thanks, I was aware of that possibility, just would like to make a feature request, but I have understood it isn't technically possible

[2019-10-06 17:21] mmoustache opened #39 "Users doesnt blocking"
Hello, when spamer adds to group and making fast message it shows to all users and captcha doesnt work.

Yes, after timeout user where kicked or banned, but before this action spamer can make a spam.

It will be great to delete all messages of spam user with kicking after failed captcha.

[2019-10-06 17:30] mmoustache commented on #39
Знаю, что есть поддержка на русском. Я хотел сказать следующее:

1. Когда спамер добавляется в группу, то при всех включенных ограничения и настройках бота, спамер может спокойно оправить сообщение или несколько без прохождения капчи.

2. После истечения срока капчи спамер киквется, а все его сообщения остаются, что кажется совсем странным.

Было бы круто в есте с киком удалять сообщения ещеостави

[2019-10-06 23:20] backmeupplz commented on #39
@mmoustache пользуйтесь /restrict и /strict, ну и не забудьте дать боту админку.

[2019-10-07 04:39] mmoustache commented on #39
Все эти команды введены и админка дана, спамерв успевают при входе закинуть сообщения прежде чем бот попросит из ввести капчу, а после кика сообщения спикеров остаются, притом, что бот легко удаляет и приветствия и Entry message

[2019-10-07 14:13] backmeupplz commented on #39
@mmoustache киньте ссылку на группу :) давно не видел такого поведения

[2019-10-07 14:23] mmoustache commented on #39
Вот создал для теста и в ней все происходит @tstgrpbtlr

[2019-10-07 14:25] backmeupplz commented on #39
@mmoustache какой тип капчи вы используете? Боты очень просто обходят простую капчу, советую использовать капчу цифровую — там точно работают /strict и /restrict

[2019-10-07 14:27] #39 closed

[2019-10-18 22:19] NocturneBlock opened #41 "Minor issue with command explanation"
Hi, I just installed Shieldy Bot, and I am happy with it overall- there is one command that I don't think is documented well, and might be able to use some modification, depending on how it actually works.
Does /deleteEntryMessages delete all entry messages, or only ones from the users who fail the captcha?

[2019-10-18 22:22] NocturneBlock opened #42 "Bug: Bot not accepting custom greetings"
Pretty much what it says on the tin. I used the /customCaptchaMessage command, and got the prompt to respond with my new message, but then nothing happens once I reply, and the bot continues to use the default message. If I use the command again, it says it is going back to the default. I have tried messages with and without using the variables, and of three different lengths (kept making it short

[2019-10-18 23:20] backmeupplz commented on #41
@NocturneBlock all of them, I'm working on the feature to delete only the entry messages from people who failed captcha. Subscribe to https://t.me/borodutch_support, I'll publish an update there.

[2019-10-18 23:20] #41 closed

[2019-10-18 23:21] backmeupplz commented on #42
@NocturneBlock make sure to **reply** and not just send the message ;) also make sure to use `$equation` and `$seconds` if you use `digits` captcha.

[2019-10-18 23:21] #42 closed

[2019-10-23 23:35] NocturneBlock commented on #42
Ah, fair enough. Might tie into the "please be more clear in the instructions" issue I posted. Thanks for the feedback, though!

[2019-10-28 14:11] hanzoh1 opened #44 "Adding Japanese language"
Hi @backmeupplz backmeupplz !

I'm using shieldy for my community where Japanese people are majority.
Is there anyway, you can add Japanese translation in shieldy?

I am happy to do any translation but I am non-dev and have no idea where and how to make use of your open sourecode.

Thanks!

[2019-10-29 16:53] backmeupplz commented on #44
Hello @hanzoh1,

Please, find the translation file here: https://github.com/backmeupplz/shieldy/blob/master/src/helpers/strings.ts. It would be great if you could translate the `en` texts to Japanese and send them to me either to https://t.me/borodutch or to n@borodutch.com.

Thank you!

[2019-10-29 16:53] #44 closed

[2019-11-22 20:56] anray opened #46 "How to make bold or italic text in /customCaptchaMessage ?"
When I add html tags or surround with ** ** or __ __ the text is not changed.

[2019-11-22 20:59] anray opened #47 "User is banned(placed in black list) after failed to pass equation captcha"
User is banned to blacklist even if /banUsers@shieldy_bot is set to kick only.
FYI: I use the same user to test different options.

[2019-11-22 22:36] backmeupplz commented on #47
@anray user is banned for the least amount of time allowed by Telegram (~2 mins I think). This is how you kick on Telegram.

[2019-11-22 22:36] #47 closed

[2019-11-22 22:37] backmeupplz commented on #46
This is fine, I don't intend to fix it in near future.

[2019-11-22 22:37] #46 closed

[2019-12-22 01:47] NocturneBlock opened #52 "Request: Option to have kick messages deleted, as well as entry."
I appreciate the inclusion of the command to delete the entry message of beings that have been booted due to failing the captcha. I would like to be able to also auto-delete the removal messages (separate from the delete entry message option), as my channel is getting so inundated that the messages are disrupting the log. It's better with the entry messages removed, but I would like to be able to

[2019-12-24 09:24] telezhnaya opened #53 "Kick new user after sending stickers"
With `/restrict` option, it is said that user can send only plain text. But it's OK to send stickers, and shieldy even do not ban them, and do not delete entry message (we also set this parameter and usually it works great).

[2019-12-24 09:29] telezhnaya opened #54 "Bug: crash if shieldy tries to delete already deleted user"
Scenario: bot is coming to the chat, trying to send spam, cannot do that, goes away.
Shieldy is finding the bot, trying to delete it, having problems because bot is deleted by itself

[2019-12-24 17:53] backmeupplz commented on #53
This is probably due to another bug that allows some users to pass through without being checked. I'll fix it today :) Stickers should be removed by /restrict :)

[2019-12-24 17:53] #53 closed

[2019-12-24 17:56] backmeupplz commented on #52
Hm, interesting. I'll see what I can do.

[2019-12-24 18:12] backmeupplz commented on #54
It doesn't crash Shieldy, instead the error is swallowed in try/catch blocks.

[2019-12-24 18:12] #54 closed

[2020-01-06 06:37] AriMartti opened #55 "Request: command to test the challenge"
Please add /challengeme command to test current options and captcha.

[2020-01-06 10:58] FiveBoroughs opened #56 "Add link support in greeting messages"
Setting a greeting message with /greeting, like this one
![image](https://user-images.githubusercontent.com/40718516/71814024-264a5780-3073-11ea-92c7-2b799760b583.png)

Will result in this version being sent out
![image](https://user-images.githubusercontent.com/40718516/71814055-3f530880-3073-11ea-8bf3-3d708d7db348.png)

Missing the links and the markdown code formatting

[2020-01-07 14:56] backmeupplz commented on #56
I'll have a look into how it can be done, thank you!

[2020-01-07 14:57] backmeupplz commented on #55
I don't think it's worth implementing, but feel free to submit a pull request.

[2020-01-07 14:57] #55 closed

[2020-01-12 14:38] FiveBoroughs opened #58 "Inline bots messages sent during captcha timewindow are not deleted"
When a user joins, Shieldy will send a captcha, if the user fails the captcha, Shieldy will delete all messages the user sent and kick him.

Except when the user sends an inline bot message, like this one :
![image](https://user-images.githubusercontent.com/40718516/72220393-2bfade00-3548-11ea-8023-83f2b90375d3.png)
The captcha logic still works and the user is kicked, but the inline message is no

[2020-01-12 14:40] FiveBoroughs commented on #58
(No crash in the logs, unexpected message type I would guess)

[2020-01-13 15:16] backmeupplz commented on #58
@FiveBoroughs does it happen with the /restrict and /strict on?

[2020-01-13 16:09] backmeupplz commented on #58
Looks like I fixed it in https://github.com/backmeupplz/shieldy/commit/811a7b5b350dffe5b19cf25c517f00ab681e38a3, thank you for the report!

[2020-01-13 16:09] #58 closed

[2020-01-13 20:38] FiveBoroughs commented on #58
Tested, that did it, thanks @backmeupplz

[2020-01-15 17:07] FiveBoroughs opened #59 "[Feature request] Add a /NoChannelLinks command"
Most of the spam I receive is from Bots linking to other groups:
![image](https://user-images.githubusercontent.com/40718516/72454523-ef81e900-37b8-11ea-8f39-be5c6dd901a2.png)

If there was a command I could activate to delete automatically any message that contains `t.me/*` it would reduce the amount of spam by 90%

[2020-01-15 17:58] backmeupplz commented on #59
Thank you a lot for the suggestion! I feel like /restrict should cover this already

[2020-01-15 17:58] #59 closed

[2020-01-22 02:17] #56 closed

[2020-01-23 10:46] FiveBoroughs commented on #52
Can be solved by upgrading to "Supergroup"
https://telegramguide.com/what-is-telegram-supergroup/

[2020-02-05 19:01] naoliv opened #64 "Bot isn't deleting entry/kick messages"
I didn't comment this on #52 to avoid polluting the issue with something possibly unrelated.

Even with `/deleteEntryOnKick` we are still seeing both messages (`joined` and `removed`) in our channels:

![](https://user-images.githubusercontent.com/982338/73873307-22efea80-4830-11ea-8ba9-8b169846d181.png)

We've already tried to set the bot's permissions with as much permission as possible, but wit

[2020-02-05 20:20] FiveBoroughs commented on #64
Is the group Private ?

[2020-02-05 20:23] naoliv commented on #64
They are public groups.
Originally they were created as super groups but it seems that now there isn't any kind of distinction anymore.

[2020-02-05 22:20] backmeupplz commented on #64
Thanks, I'll investigate

[2020-02-09 21:37] ilyakaznacheev commented on #64
Yep, same for me

[2020-02-11 11:25] FiveBoroughs commented on #64
@naoliv and I diagnosed the problem in the said group, there was confusion between what the /deleteEntryOnKick and /deleteEntryMessage commands would do.
I guess better Commands Labels could have prevented this issue.

Do you have suggestions for better Brazilian translations Naoliv ?

[2020-02-12 11:50] naoliv commented on #64
It seems that the bot's behavior is a little erratic.
For example, today we saw again the messages in another group:

![](https://user-images.githubusercontent.com/982338/74332272-2aede400-4d74-11ea-9c84-a115341f6dff.png)

`/deleteEntryOnKick` was already enabled (and you can see that after sending `/deleteEntryOnKick` the bot said it wouldn't remove the messages anymore)

Per the bot help, `/dele

[2020-03-01 17:55] KlausDevWalker opened #65 "Info for viewing all current configured options"
It would be nice if we can send something like `/info_config` and see all the options set at that moment. Cause when we try to see what is set, regularly we accidentally turn on/off/change the settings we don't want to change.

[2020-03-04 17:05] backmeupplz commented on #65
Hm, sounds like a good feature, thank you for the suggestion

[2020-03-07 12:23] KlausDevWalker commented on #65
You're pretty welcome :) BTW, Shieldy is getting better and better! It's my default catpcha bot by now :D Thanks for this excellent work :)

[2020-03-09 12:45] KlausDevWalker opened #66 "Detect if the user was already kicked and/or banned by another bot/admin"
I have some bots that ban people before and after they enter the group. In the last case, Shieldy still presents a welcome for them, waiting for the time I set to expire. It would be nice if Shieldy detect those bans or kicks and delete its one's messages for them.

[2020-03-09 12:45] KlausDevWalker opened #67 "Detect if the user was already kicked and/or banned by another bot/admin"
I have some bots that ban people before and after they enter the group. In the last case, Shieldy still presents a welcome for them, waiting for the time I set to expire. It would be nice if Shieldy detect those bans or kicks and delete its one's messages for them.

[2020-03-09 12:45] KlausDevWalker opened #68 "Detect if the user was already kicked and/or banned by another bot/admin"
I have some bots that ban people before and after they enter the group. In the last case, Shieldy still presents a welcome for them, waiting for the time I set to expire. It would be nice if Shieldy detect those bans or kicks and delete its one's messages for them.

[2020-03-09 12:46] KlausDevWalker commented on #67
Duplicate of #66

[2020-03-09 12:46] #67 closed

[2020-03-09 12:47] KlausDevWalker commented on #68
Duplicate of #66

[2020-03-09 12:47] #68 closed

[2020-03-09 18:59] BenCat07 opened #69 "Bot is not deleting messages in captcha mode"
Basically, Strict mode is on, Captcha is used as authentication.
- User A joins.
- A sends some link to a scam site
- Bot Does not delete message until the user is kicked

Expected Behaviour:
- Bot deletes any messags that does not have to do with the captcha until they solved the captcha.

[2020-03-12 02:50] backmeupplz commented on #66
Unfortunately, Shieldy is not supposed to be used with other bots.

[2020-03-12 02:50] #66 closed

[2020-03-12 02:52] backmeupplz commented on #69
Try giving Shieldy super admin right (all admin rights). Telegram seems to throttle non-super admins ability to delete messages and ban people for some reason. Please, reopen this issue if the issue persists.

[2020-03-12 02:52] #69 closed

[2020-03-12 02:52] backmeupplz commented on #69
Also, try /restrict.

[2020-03-15 10:57] WizardTurk opened #70 "How to remove the bans"
how can we see people who are ban and kicked or we unkick / unban

[2020-03-16 16:53] backmeupplz commented on #70
You can see them in the blacklist of the group.

[2020-03-16 16:53] #70 closed

[2020-03-28 15:25] backmeupplz commented on #65
Done! Now you can use the `/config` command to see the configuration :)

[2020-03-28 15:25] #65 closed

[2020-03-28 15:45] KlausDevWalker commented on #65
Great, man! Thanks again! When this will begin to work on Shieldy? I'm firing this command in the group and also on PM with the bot, but I'm receiving nothing as output. Am I doing something wrong? 😅

[2020-03-28 15:48] KlausDevWalker commented on #65
Nevermind. I saw in the code that the command is /viewConfig. 😅😅😅

[2020-03-28 16:04] backmeupplz commented on #52
Should be working now.

[2020-03-28 16:04] #52 closed

[2020-03-28 16:07] backmeupplz commented on #64
Just tested, everything works fine. With `/deleteEntryMessages` Shieldy deletes all entry and left messages. With `/deleteEntryOnKick` Shieldy deletes entry and left messages for people who failed captcha.

[2020-03-28 16:19] backmeupplz commented on #64
Found a bug, fixed it, behavior should not be erratic anymore. Thank you for the report!

[2020-03-28 16:19] #64 closed

[2020-04-09 23:19] KlausDevWalker opened #74 "[Bug] customCaptchaMessage doesn't work with Digits Captcha"
I had made a few tests and noticed that when I select "Digits" Captcha and then set a customCaptchaMessage, even when it's on and showing me it will use my custom message, it doesn't. It uses the default message. I have a guess on that: all the other captcha types are compound, with two messages. "Digits" is not, placing the arithmetic operation in the same message as the captcha message. Maybe fo

[2020-04-09 23:27] KlausDevWalker opened #75 "[Bug] Custom captcha message doesn't evoke a mention if the new user doesn't have a username"
Using $fullname variable in a custom message won't evoke a mention. Is there a entity that doesn't care if the new user hasn't a username and mention him/her always? Some people that didn't solve the captcha said they didn't notice my group has this condition, probably cause they weren't mentioned. By the way, can you make available more variables to help further customization this message, like s

[2020-04-10 13:48] MarcAnt01 opened #76 "Wrong link highlighting with markdown in the welcome message"
![image](https://user-images.githubusercontent.com/43090263/78995417-94a32800-7b42-11ea-8931-a7f7e696b883.png)

![image](https://user-images.githubusercontent.com/43090263/78995456-abe21580-7b42-11ea-9b0f-5f564c8ba98e.png)

[2020-04-11 19:16] backmeupplz commented on #76
Thanks for noticing, I'll fix it when I have time :)

[2020-04-11 19:18] backmeupplz commented on #75
Thanks for noticing the bug, I'll fix it when I have time. I don't have any plans to add more variables.

[2020-04-11 19:20] backmeupplz commented on #74
You have to use `$equation` and `$seconds` in custom captcha for the digits captcha.

[2020-04-11 19:20] #74 closed

[2020-04-11 20:52] KlausDevWalker commented on #74
Marvelous! :) You're the best! :1st_place_medal:

[2020-04-13 16:12] backmeupplz commented on #75
Should be fixed now.

[2020-04-13 16:12] #75 closed

[2020-04-13 18:58] KlausDevWalker commented on #75
Bug terminated! I did some tests here and it's working greatly. Thanks again :D

[2020-04-13 22:53] backmeupplz commented on #76
Should be fixed, thank you for the report!

[2020-04-13 22:53] #76 closed

[2020-04-20 22:30] KlausDevWalker opened #77 "[Bug] Custom greeting message doesn't evoke a mention if the new user doesn't have a username"
It's kinda like issue #75, but with the greeting message. First, it won't evoke mention if the new user doesn't have a username. Also If we don't use $username variable in the message, $fullname (if the new user only has it) or $username (if the new user has both) appears after the custom message, isolated by a empty line from the rest of the message.

[2020-04-20 22:34] KlausDevWalker opened #78 "[FR] Allow custom time with /restrict"
That way we could also set the period we think it's best for the new user only use text in his/her message. For example, it would be nice if we could extent to a week, enough time to analyze if he/she went to spam the group or seek real help and so on.

[2020-04-21 16:14] #77 closed

[2020-04-21 16:17] backmeupplz commented on #78
24 hours is enough, 99.9% of spammers on Telegram are banned within 24 hours by Telegram.

[2020-04-21 22:04] KlausDevWalker commented on #77
Confirming that it's working! Thanks again.

[2020-05-02 10:42] MarcAnt01 commented on #76
@backmeupplz it isn't fixed, the link simply isn't shown now

[2020-05-02 10:42] MarcAnt01 commented on #76
Can you reopen the issue?

[2020-05-02 10:44] MarcAnt01 opened #79 "Links aren't shown in captcha message and in the welcome message"
Probably similar to https://github.com/backmeupplz/shieldy/issues/76

Now there's no wrong highlighting, just not shown

[2020-05-02 13:40] backmeupplz commented on #79
Just checked it — everything works. Please, provide a way to reproduce the issue or at least the content of `/viewConfig`. Thank you.

[2020-05-02 13:43] backmeupplz commented on #79
Hm, welcome message works, but captcha doesn't use markdown. Worth investigating then.

[2020-05-02 13:45] MarcAnt01 commented on #79
![image](https://user-images.githubusercontent.com/43090263/80865734-9f596480-8c8b-11ea-80f9-685a4c7472a5.png)
![image](https://user-images.githubusercontent.com/43090263/80865739-a2eceb80-8c8b-11ea-9d9e-b6cafcd0d6af.png)

[2020-05-03 14:22] kworr opened #81 "Spammers leaving messages are not deleted."
Suppose we have a spammer that joins channel and immediately leaves. If /deleteEntryOnKick is set bot shows the captcha and upon timeout removes captcha and entry message, but leaving message is still on the channel.

Example of bot usernames:
![зображення](https://user-images.githubusercontent.com/1639944/80916565-237e1b80-8d62-11ea-9ad9-7dbf90f2b825.png)

Proposal:
a) first read all pending mess

[2020-05-03 15:57] KlausDevWalker commented on #81
You just need to use /strict and /restrict and you're good to go. :)

[2020-05-03 18:37] kworr commented on #81
Well, according to `/viewConfig` both `strict` and `restrict` were `true`. Yet part message doesn't come directly from the user.

[2020-05-03 20:23] KlausDevWalker commented on #81
Kinda strange. In my groups Shieldy is working like expected. One thing I noticed in your screenshot is that the $fullname's is kinda spammy and certainly is not trackable by Shieldy as such.

[2020-05-03 22:28] backmeupplz commented on #81
From what I can see the issue is that `/deleteEntryOnKick` doesn't delete the message about the person leaving. I'll investigate, thank you for the report!

[2020-05-07 06:35] AdmiralAwesome opened #82 "captchaType: button is not working (visible as Digits) no config is saved?"
Hi,
Current config:

[code]

Bot is of course admin in group. After new user joins group - he is forced to do Digits CAPTCHA instead of a simple button press.

Example:

As you can see - timeGiven should be 30 seconds instead of 60, according to my bot configuration.

Or am I doing something wrong?

Also - HUGE thank you for this bot - awesome job! Keep it up, proud of You!

[2020-05-07 13:38] backmeupplz commented on #82
Please, send commands to the group chat, and not to the bot private messages.

[2020-05-07 13:38] #82 closed

[2020-05-12 09:35] anray opened #83 "Bot removes user messages after he passed captcha"
Bot is set to picture captcha mode and additionally /restrict and /strict.

1 min after user successfully passes captcha his text message with hashtags are removed.

[2020-05-12 10:28] KlausDevWalker commented on #83
It's a intended action for /restrict where the new user only can post pure plain text in his/her first 24 hours.

[2020-05-12 13:16] backmeupplz commented on #83
@KlausDevWalker thank you for describing this. Yes, this behavior is intended.

[2020-05-12 13:16] #83 closed

[2020-05-19 20:45] telegrambeans opened #84 "Remove Time and kick only"
Can you integrate the Option for kick or bann?
Can get the Option for no time Limit?

[2020-05-19 22:06] backmeupplz commented on #84
Please, read `/help`. There is an option to turn on `/banUsers`. I don't plan removing the time limit. If people couldn't join the group for the first time, they can try again later.

[2020-05-19 22:06] #84 closed

[2020-06-01 17:27] bashfulrobot opened #86 "Spam from bot?"
Hi there,

I recently got this from the bot:

[code]

Why the heck would we start getting spam from the bot?

[2020-06-01 18:13] kenorb commented on #86
Anti-spam Telegram bot that spams, that's new:)

[2020-06-01 18:14] kenorb commented on #86
Btw. I've got the same problem, and I'm going to get rid of it completely on the next time.

[2020-06-01 18:24] backmeupplz commented on #86
I'm very sorry about the fact that you don't like free, open-source Shieldy where I never sell ads but sometimes tell users about my new projects.

You can always delete Shieldy from your groups if it really insults you that I provide Shieldy to you for free and don't sell ads. Then, your options are:

* Delete spam manually.
* Use other bots that do sell ads and promote malicious services.

If yo

[2020-06-01 18:24] #86 closed

[2020-06-01 19:26] FiveBoroughs commented on #86
Also this is a code repo, this issue concerns one public instance of Shieldy.
Run this code yourself if you don't like this specific instance's policy

[2020-06-01 19:42] q5sys commented on #86
I'm totally fine with getting a PM from the bot because I have chosen to use its services in a channel I maintain... the Bot can PM me all you like... however spamming my users with your own personal advertisements (you want people to pay for accounts for Todorant) is very different.   Those users didn't chose to use Shieldy, I did as the channel admin.   Send your ads to me... not them.  Thanks.

[2020-06-01 19:46] Niko-O commented on #86
@backmeupplz
I came here because of the same reason. If you claim to keep spam(mers) away, then it really doesn't look great on you if you, yourself, become part of the problem.
I would like to hear your line of reasoning, though. If a new user joined your group and just posted a message telling everyone about their GitHub-projects, would you not consider that spam?

[2020-06-01 19:50] backmeupplz commented on #86
@Niko-O feel free to remove Shieldy if me telling my free bot users about my new project inconveniences you. If you don't respect my work on Shieldy and the fact that I keep it running, updated and completely free, you can revert back to removing spam manually or use other bots that send commercial ads every months or so.

It's your choice, I won't blame you if you don't respect my work.

[2020-06-01 21:00] backmeupplz commented on #86
@bashfulrobot well, if there are groups that are inconvenienced enough by a message about my new project in a free Shieldy where I don't sell ads, then they are clearly less inconvenienced by manually deleting spam or using Shieldy alternatives which are mostly worse or do sell ads constantly.

Let them delete Shieldy. When all the alternatives fail or annoy them with commercial ads, they will rei

[2020-06-01 21:05] Niko-O commented on #86
@backmeupplz Alright. Multiple things here:
1. Whether or not I think you unsolicitedly promoting your projects in my face is appropriate or not does not have any impact on whether I respect your work on Shieldy and the fact that you keep it running, updated and completely free. Obviously a bot that reduces spam is a good thing. I do not respect the fact that, in doing so, you have become the very

[2020-06-01 21:08] q5sys commented on #86
channel admin != channel users
Channel Administrators are the ones who implement your bot and who are your users.  Spam channel admin all you want, they are the ones 'USING' Sheildy.
Individual channel members did not choose Shieldy and have no control over a bot or the channel.

To individual channel members... they see a bot that they know nothing about sending messages about a paid product.   *

[2020-06-01 21:10] backmeupplz commented on #86
@Niko-O

1. You are very welcome to think so. I'm not the one to judge your opinion.
2. Again, you can call me hypocritical, it's your opinion, you have the right to think so.
3. Nope, I don't have any emotions about it and I'm surprised you are so upset about one message. But, again, you have the right to be upset, I'm not the one to judge. Like it or not — it's your right.
4. You have the right

[2020-06-01 21:14] backmeupplz commented on #86
@q5sys you are very welcome to delete Shieldy and use alternatives that don't work. Sounds like your users like spam more than they can tolerate a small message from me from time to time. Clearly, they don't need Shieldy.

[2020-06-01 21:21] q5sys commented on #86
My users don't like ANY spam, from you or anyone else.   I've had to deal with nearly a hundred comments about your spam today, that I shouldn't have had to deal with.
I'll be removing Shieldy from the channels I admin.  I'll either fork the project and run it myself, or I'll go with another Anti-spam bot.
You'll never get the opportunity to spam my users for money ever again.

[2020-06-01 21:24] backmeupplz commented on #86
@bashfulrobot thanks for the advice! You are very welcome to not like Shieldy, it's totally fine with me.

[2020-06-01 21:25] backmeupplz commented on #86
@q5sys no worries, it's your choice! Come back when you'll get tired of paying for hosting or when other anti-spam bots fail, no one will be against that just like no one is against you not using Shieldy anymore. Cheers!

[2020-06-01 21:25] backmeupplz commented on #86
# This thread in a nutshell:

![you-were-the-5ad4ad](https://user-images.githubusercontent.com/3192028/83456028-c4b8ca00-a413-11ea-8e0e-64a508c5de4a.jpg)

[2020-06-01 21:39] backmeupplz commented on #86
@bashfulrobot if I didn't listen to the `constructive` feedback and build on top of it, I wouldn't reach 15 000 000 people across my products. You can actually see the number of issues in just this repository that I fixed :)

The issue is not me not listening to the feedback, the issue is the fact that a few people got agresive when I told them about my new product in a completely free and extreme

[2020-06-01 21:41] q5sys commented on #86
My users are worth more to me than a $5 a month Digital Ocean droplet.   I don't see them as a potential paycheck.

[2020-06-01 21:42] backmeupplz commented on #86
@q5sys sure, again, feel free to do whatever you want! Shieldy is even dockerized — simple `docker-compose up` would do the trick.

[2020-06-01 22:03] backmeupplz commented on #86
@bashfulrobot nope, the reality is — you are acting unprofessional in this thread by attacking my products and making bold claims like `It is obvious that you are likely not to look at your user base, common practices, or private information best practices` which are bluntly outright not true.

Just fyi, there is an end-to-end encryption in Todorant that prevents any way the data can be seen by an

[2020-06-01 22:06] backmeupplz commented on #86
@bashfulrobot

[2020-06-01 22:07] q5sys commented on #86
Speaking of Todorant, can you explain how I am already "registered" for your service automatically?  All I did was click a link, I never agreed to any ToS, I never agreed to any privacy rules, I never agreed to an EULA, etc.
![image](https://user-images.githubusercontent.com/4654247/83459397-4cadcc80-a432-11ea-867c-6678c48958ba.png)

[2020-06-01 22:08] backmeupplz commented on #86
@bashfulrobot I also agree that your comment was off-topic.

[2020-06-01 22:08] backmeupplz commented on #86
@q5sys weird, right? Please, stay on topic or I will be forced to report the comments.

[2020-06-01 22:12] backmeupplz commented on #86
Deleted off-topic posts.

[2020-06-01 22:12] q5sys commented on #86
Fine, what is a address I can send emails to regarding this matter?  I have been signed up for a service I did not authorize.

[2020-06-24 09:30] tomerghelber opened #88 "Shieldy stopped working"
The bot stopped working.
I wrote directly and it doesnt answer.
Something went wrong.
Can you check your deploy?

[2020-06-24 13:55] tomerghelber commented on #88
It is started to repond again.

[2020-06-24 17:38] KlausDevWalker commented on #88
So please close the issue :)

[2020-06-24 17:50] #88 closed

[2020-06-24 17:50] backmeupplz commented on #88
Looks resolved

[2020-06-26 17:56] zodina34 opened #89 "Bot isnt working"
Current config:

id: 852404243
language: en
captchaType: button
timeGiven: 120
adminLocked: false
restrict: false
noChannelLinks: false
deleteEntryMessages: false
greetsUsers: true
customCaptchaMessage: false
strict: true
deleteGreetingTime: 0
banUsers: false
deleteEntryOnKick: false
cas: true
underAttack: false
noAttack: true
buttonText: Not set
allowInvitingBots: false
greetingButtons:
Not set

[2020-06-29 14:48] backmeupplz commented on #89
Please, make sure to configure the bot in the group and not in private messages :)

[2020-06-29 14:48] #89 closed

[2020-06-29 17:12] ianp5a opened #90 "Add command to get the whole config as 1 string to setup Sheildy in one go, and not disturb groups"
To avoid entering 10 or more commands and causing 20+ _annoying_ notifications in a group, the user could set up Sheildy with **1 command**. Using a proposed new _config string_, generated from an existing group or direct chat with Sheildy.

1. Start a chat directly with Shieldy
2. Enter all the commands as required
3. Enter the new command like /viewConfigString
4. Sheildy outputs a string of you

[2020-06-29 21:40] backmeupplz commented on #90
I can see how it can be **extremely** confusing to anyone but power users and developers.

Feel free to delete the config messages in groups where they "annoy" users. Config works even after the messages are deleted.

However, maybe adding a command like `/setConfig restrict=true strict=false` can be useful, as well as generating it in the `/viewConfig` message.

[2020-06-30 06:51] ianp5a commented on #90
Yes your suggestion of /setConfig one-liner would be a good solution. /viewConfig too, as it saves typing errors. That would certainly reduce the repeated notifications.

The problem with these notifications is, some new group members can still be unsure of the group and as a result, turn off all notifications, or even leave. I delete each setup messages quickly, before members look to see if the

[2020-06-30 15:00] backmeupplz commented on #90
@ianp5a I'll implement `/setConfig` then, should be a good compromise between usability and fixing your issue :) Thank you for the report!

[2020-07-23 16:03] MickeyVall opened #92 "Why am I facing this issue?"
Hi there! I am hosting my bot Heroku with MongoDB Atlas and I get this error in every few hours:

`2020-07-23T15:55:19.218451+00:00 app[worker.1]:     at attachUser (/app/dist/middlewares/attachUser.js:13:5)
2020-07-23T15:55:19.218513+00:00 app[worker.1]: (node:53) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function wi

[2020-07-27 16:31] backmeupplz commented on #92
Sorry, I don't know.

[2020-07-27 16:31] #92 closed

[2020-08-19 08:43] Ra1den54 opened #95 "Allow configuration of an external web link to be associated with the confirmation button"
It would be awesome if a web link could be associated with the confirmation button so that when it is clicked to confirm a user isn't a bot that also are taken to the web link that has been configured and attached to the button.

[2020-08-19 13:11] backmeupplz commented on #95
Unfortunately, this is not possible in the current Telegram implementation. Add the rules to /greetingButtons instead. Thank you!

[2020-08-19 13:11] #95 closed

[2020-09-12 10:46] davidoppen opened #100 "Custom capture questions?"
Would it be possible to add an option to define custom capture questions and specific questions?  That way you could only let people in the group chat that know a fact only known to that specific group of people.
Thank you.

[2020-09-13 19:02] backmeupplz commented on #100
Sorry, there are no plans for this feature. It is a bit too niche and complicated for the users

[2020-09-13 19:02] #100 closed

[2020-09-17 13:15] goodwin88 opened #101 "Shieldy down?"
I love the bot. Usually works fine.

Recently, like past day or so, it hasn't done anything to challenge new members.

It used to ask the simple "a+b" arithmetic question and now it doesn't do anything when new members join.

It used to prevent new members from posting images for the first 24 hours and now it doesn't do that.

It seems to not be working at all. Please help? Thank you!

[2020-09-17 15:01] #101 closed

[2020-09-19 16:23] G-i-o opened #102 "A Multitude of Issues While Testing"
Hi.

I have created a private testing chat group to test this before adding it to our public group and found the following problems.

FIRST SCENARIO: Group owner (A)  promotes Shieldy as admin. Another member (B) joins the chat and acts as the tester. A is able to apparently configure the bot and everything seem to go well. Yet when the B tests the bot by leaving the chat and rejoining it:
- B (re

[2020-09-19 20:24] backmeupplz commented on #102
Hi there!

1. You should always config Shieldy **in the groups**, not in private messages. I.e. the id in `/viewConfig` should be negative.
2. Shieldy experiences issues at the moment, follow https://t.me/borodutch_support for updates.

Cheers!

[2020-09-19 20:24] #102 closed

[2020-09-20 02:09] G-i-o commented on #102
Hi @backmeupplz ,

Thank YOU for your prompt reply. Much appreciated.

Sorry I was not clear. I said "private testing" not "Private messages" or chat.

I did indeed worked with Shieldy in a group, private group. Groups in Telegram can be "Private" or "Public". I tested it on both. The groups were created purposely by me for the testing.

I hope makes is more clear now.

I will also follow your upd

[2020-09-20 02:50] backmeupplz commented on #102
@G-i-o can you share a `/viewConfig` example with me here, please?

[2020-09-20 03:02] G-i-o commented on #102
@backmeupplz
I'd be happy to but, as mentioned above, currently any interaction with the bot gets deleted with no results given.
So, if I type `/viewConfig` or any other command, the post gets deleted and nothing shows up.`

[2020-09-20 03:56] backmeupplz commented on #102
@G-i-o can you give me a link to the group then? Better to send it to me on Telegram — t.me/borodutch

[2020-09-20 05:51] G-i-o commented on #102
@backmeupplz
Sure. Done. Thank YOU.

[2020-09-24 07:20] bitog opened #103 "MangoDB Cloud"
Hi,

I was wondering if we are also able to use the cloud instead of the local instance? And connect to it with:
`mongodb+srv://<user><password>@<name>.4f3mw.mongodb.net/<dbname>?retryWrites=true&w=majority`

[2020-09-24 07:29] bitog commented on #103
Seems to work just fine hehe

[2020-09-24 07:29] #103 closed

[2020-09-24 13:19] bitog opened #104 "Captcha image not working"
I self host shieldy and all captcha option work fine just the image one is not doing anything. Any idea what the cause could be?

[2020-09-25 01:06] backmeupplz commented on #104
Don't forget to install headless Chrome to support https://www.npmjs.com/package/convert-svg-to-png :)

[2020-09-25 01:06] #104 closed

[2020-09-25 13:00] bitog commented on #104
I am running it on an Ubuntu server. I googled it but was not really able to find a way to install `headless Chrome`. Do you know of any? Thank you!

[2020-09-25 19:17] backmeupplz commented on #104
@bitog interesting. Shieldy runs on Ubuntu server and I installed it there :) I think it was https://github.com/puppeteer/puppeteer/

[2020-09-28 08:05] simgislab opened #106 "Users are banned no matter how /banUsers is set"
No matter whether it was to kick or ban a user, users are always blacklisted.

Is this correct? Shouldn't `banUsers: false` allow users to try joining more times?

[2020-09-28 15:03] backmeupplz commented on #106
`banUsers: false` bans a user for 30 seconds. This is how you kick on Telegram.

[2020-09-28 15:03] #106 closed

[2020-09-28 15:15] simgislab commented on #106
`banUsers: false` case

1. User tries to join a group
2. Fails to answer captcha
3. Kicked/banned by Shieldy
4. Added to blacklist <- !!! indefinitely !!! (just checked, tested in the morning, still on blacklist)
5. When trying to access the same group user always gets 'Sorry, this chat does not seem to exist message'

Am I missing something?

[2020-09-28 15:18] backmeupplz commented on #106
You are, `banUsers: false` bans a user for 30 seconds. https://github.com/backmeupplz/shieldy/blob/fb346ef132acd42bd64aafa13a63170568d3efee/src/helpers/newcomers.ts#L297.

Make sure to set `banUsers` option in the group chat, not in the private messages with the bot. Changing this option only affects future user joins.

[2020-10-04 15:13] AlexWayfer opened #107 "Recognize bot mention"
![image](https://user-images.githubusercontent.com/6510020/95019306-442e0280-066d-11eb-8ee7-b5e36ed98a5c.png)

[2020-10-05 15:02] backmeupplz commented on #107
This feature is not necessary. The answer should be precisely the number, nothing else.

Otherwise bots can just spam `123456...1000`

[2020-10-05 17:01] AlexWayfer commented on #107
I'm not talking about "any text before number", I'm talking exactly about bot's nickname. I think bot knows its nickname and can ignore it.

[2020-10-05 17:14] backmeupplz commented on #107
Sure, pull requests are welcome :)

[2020-10-05 17:18] AlexWayfer commented on #107
I think then this issue should be opened, instead of labeling like `wont be done`, but… OK.

[2020-10-10 20:50] backmeupplz commented on #90
You can now use /setConfig :) thank you again!

[2020-10-10 20:50] #90 closed

[2020-10-10 22:02] backmeupplz commented on #81
`/deleteEntryOnKick` should now also delete the leaving messages on kick :)

[2020-10-10 22:02] #81 closed

[2020-10-10 23:32] backmeupplz commented on #79
added support for formatted messages to the custom captcha messages, thank you for the suggestion :)

[2020-10-10 23:32] #79 closed

[2020-10-28 14:27] tedescolor opened #108 "greetingButtons setting through /setConfig does not work"
The message

/setConfig
language: it
captchaType: button
timeGiven: 180
adminLocked: false
restrict: false
noChannelLinks: false
deleteEntryMessages: false
greetsUsers: true
customCaptchaMessage: false
strict: true
deleteGreetingTime: 60
banUsers: false
deleteEntryOnKick: true
cas: true
underAttack: false
noAttack: false
buttonText: Entra!
allowInvitingBots: false
skipOldUsers: false
skipVerifiedU

[2020-10-28 15:07] backmeupplz commented on #108
Thanks for the report, I don't think I'll add setting greeting buttons, sorry, a bit too complicated ;)

[2020-10-28 15:07] #108 closed

[2020-11-01 18:07] tedescolor opened #109 "It seems not possible to deactivate captcha verification"
Is there any command available in order to use Shieldy without asking users to solve captcha?
Thank you very much for the attention

[2020-11-01 23:59] backmeupplz commented on #109
no, it's a captcha bot

[2020-11-01 23:59] #109 closed

[2020-11-12 15:15] boistordu opened #111 "no response to commands"
Since a few days now, I can't get shieldy respond to my commands.
it would be nice to actually be able to do /help@shieldy_bot in cas of multiple bots in the channel.
I was trying to do a /setConfig timeGiven: 120 and it doesn't work. Do I need to do each time a copy paste of the entire config to change just one small element?
It would be great to have wiki ...

[2020-11-12 17:13] backmeupplz commented on #111
`/setConfig timeGiven: 120` works well. `/help@shieldy_bot` works well. You can always start a wiki :) it's an open-source project, feel free to submit a pull request!

P.S., if Shieldy has /lock option on, then only admins can configure it.

[2020-11-12 17:13] #111 closed

[2020-11-14 14:59] Romern opened #112 "Does not kick unresponsive users"
If a user does not solve the captcha or press the button in the required time, he is not kicked since a few days (? could be just since today). Deleting messages still works though.

[2020-11-14 15:45] Romern commented on #112
Seems to be fixed by https://github.com/backmeupplz/shieldy/commit/7def5f90ae522aec26cbe57fea8996a4f5f233c0

[2020-11-14 15:45] #112 closed

[2020-11-29 03:28] DASPRiD commented on #112
@Romern Can it be that this fix is not deployed to @shieldy_bot on Telegram? I found at least 3 bots in our chat of which the join message got deleted, but they were not kicked. Most recently 15 minutes ago.

[2020-11-29 19:46] backmeupplz commented on #112
@DASPRiD check recent messages to see if they passed captcha. Shieldy should be running well at the moment

[2020-11-29 20:39] Romern commented on #112
Seems to work fine for me currently.

[2020-12-19 17:30] MaximilianR opened #118 "Allow more time options for /restrict"
It seems some bots wait for more than 24 hours before posting spam with links, and it would be very useful to be able to increase /restrict with the 24 hour limit to 36h, 48h etc., increasing the chance these bots are banned (as they spam in other Telegram channels likely) before their restriction is lifted in the channel where I use Shieldy.

Btw Shieldy is the best bot there is on Telegram hands

[2020-12-19 19:00] backmeupplz commented on #118
Hm, sounds like a great idea to implement. Thank you for the kind words and the suggestion!

[2020-12-21 12:40] DolanKivert opened #119 "Docker-Compose not working"
hi

Had a bit of a problem getting the docker compose-script to work out of the box, since version 3 seemst to not support secrets in the way they are used, changing it to version 3.1 worked just fine for me though.

[2020-12-21 18:03] backmeupplz commented on #119
Interesting, can you submit a PR with the fix, please?

[2020-12-21 18:04] backmeupplz commented on #119
@masaruhoshi maybe you can help out here a bit? :)

[2020-12-21 19:01] #119 closed

[2020-12-24 17:37] sunjam opened #121 "Send greeting as private message"
Would it be possible for shieldy to send greetings to the user as a private message after they pass the challenge/response?  This would be preferable to the greeting being in-channel.  Thanks either way!

[2020-12-25 14:49] backmeupplz commented on #121
There is no way to do so because Telegram does not allow bots to initiate dialogues with users. Use `/deleteGreetingTime` to make Shieldy auto-delete greetings.

[2020-12-25 14:49] #121 closed

[2021-01-11 12:55] amuagarwal opened #123 "Help Needed"
How i restrict bot command to be visible to admin only currently it showing to all the group members.
Or command or way to clear old message history posted in group by Shieldy.

Thanks in advance

[2021-01-11 15:13] backmeupplz commented on #123
There is no command to clear old message history posted by Shieldy, delete it manually if you need to. /help command will still be visible in the command dropdown in the chats with Shieldy. You can /lock Shieldy so that only admins can execute commands on it. You can also manually delete configuration messages after you set up Shieldy in your group.

[2021-01-11 15:13] #123 closed

[2021-01-13 08:16] azhiltsov opened #124 "Mongo errors "cannot remove from a capped collection""
Hi.

I am hosting the shieldy bot and dedicated instance of Mongo for it.
Every minute I observe the next error in the Mongo logs:

[code]
My guess those are shieldy related, but my scarce knowledge of Mongo does not allow me to troubleshoot.
Please advise.

[2021-01-13 15:34] backmeupplz commented on #124
For some reason your Mongo instance doesn't want to remove `CappedMessage` that is supposed to live only for 2 minutes. I don't see such issues on the production instance of Shieldy so I probably won't be able to help. Try wiping the CappedMessage collection? Maybe it's an old CappedMessage that doesn't want to be removed for some reason?

[2021-01-13 15:34] #124 closed

[2021-01-22 07:20] sathyamoorthyrr opened #125 "How does allowInvitingBots command work?"
I am not sure when would this option be helpful

With this option as `false`,

- When a normal member Adds a bot to group, Telegram says `CHAT_ADMIN_REQUIRED`
- When an admin member Adds a bot to group, the bot gets added

Will this command be effective when a Bot itself joins through a Group's invite link?

Please shed some light

Thanks

[2021-01-22 10:11] backmeupplz commented on #125
When this setting is `true`, Shieldy will kick all the Telegram bots that get added to the group by non-admins.

[2021-01-22 10:11] #125 closed

[2021-01-22 10:42] sathyamoorthyrr commented on #125
After setting `true`

A non-admin tried to add a bot (IFTTT  for example).

Telegram says `An error occurred. CHAT_ADMIN_REQUIRED`

Even with the setting `false` also, I'm getting the same

[2021-01-22 11:22] backmeupplz commented on #125
This attack vector can be outdated, however, I'd like to still keep this option just in case/

[2021-01-22 11:24] sathyamoorthyrr commented on #125
Thanks for making. I'm evaluating and this bot is good : )

[2021-01-22 12:04] sathyamoorthyrr commented on #125
Any support **GROUPS** would be helpful for newbies

[2021-02-09 17:05] posix4e opened #126 "Does shieldy have analytics?"
I think that's one of the big features we want versus combot

[2021-02-09 19:12] backmeupplz commented on #126
Nope, it doesn't. Shieldy isn't a group management bot, it's an anti-spam captcha bot :)

[2021-02-09 19:12] #126 closed

[2021-02-18 15:16] backmeupplz commented on #118
@MaximilianR now you can set it with the `/restrictTime 48` command :) Thank you a lot for the suggestion again!

[2021-02-18 15:16] #118 closed

[2021-02-18 16:57] MaximilianR commented on #118
Ty, you are the man!

[2021-03-11 07:09] AirdropAnalyst opened #127 "help me"
please my account unban me @Monorom144

[2021-03-11 14:08] backmeupplz commented on #127
Check your ID in cas.chat. Most likely, you are either banned there or not banned by Shieldy. In any scenario, I cannot help you.

[2021-03-11 14:08] #127 closed

[2021-04-07 19:12] goldcvt opened #130 "Отображение приветственного текста с арабскими никнеймами"
Привет! Увидел вот такое недавно случайно, это ведь вряд ли нормально?
![shieldy-bug](https://user-images.githubusercontent.com/25119609/113921142-504a7680-97ee-11eb-8b48-b966d76654db.jpg)

[2021-04-07 20:42] backmeupplz commented on #130
Надо поправить. Спасибо за репорт!

[2021-04-18 21:09] goldcvt commented on #130
Спасибо, что не бросаешь свои продукты)

[2021-04-29 07:31] MaxFrolikov opened #133 "Shieldy просто удаляет бота, когда я добавляю его в свой закрытый чат"
![20210429_102949](https://user-images.githubusercontent.com/37468597/116516100-d9c50400-a8d5-11eb-909e-f7e8601e622a.jpg)

[2021-04-30 00:04] backmeupplz commented on #133
Turn off /allowInvitingBots

[2021-04-30 00:04] #133 closed

[2021-05-05 12:05] pooive opened #134 "Defining own captcha questions and answers"
Hi,
since more and more spam accounts pass the default captchas (presumably by human work), it would be nice to have a new captcha type where we can define our own correct answers to the captcha question.
For example, a group for a specific city could ask "What state is city XY in?" or a group for Pokémon Go could ask "How many kilometers do you need to walk to hatch a yellow egg?" and only those

[2021-05-05 13:58] backmeupplz commented on #134
It's an interesting idea, thank you, I'll explore it.

[2021-05-05 23:25] samuelgrigolato opened #135 "Feature suggestion: /trustMembersInvitations"
Let's say I join group X. Shieldy displays me a captcha prompt. After filling in the captcha I invite user A.

Wouldn't it be reasonable to trust me and avoid bothering user A with a captcha question? Would this be possible to develop as a group specific setting? I wonder if Telegram API makes it visible if a user joined via invitation from another user or directly via search/external link, as thi

[2021-05-05 23:37] backmeupplz commented on #135
Nope, it wouldn't. Spammers inviting other spammers is a common attach vector.

[2021-05-05 23:37] #135 closed

[2021-05-05 23:44] samuelgrigolato commented on #135
Just so I can understand, in the idea I proposed the first spammer would have to fill in the captcha before being allowed to invite others in a "trusted" manner. How do you picture they being able to abuse this? One extra barrier could be limiting trusted invites to, let's say, one per day or something like that.

To give you a bit of context: this happened in a group of mine were a legitimate use

[2021-05-06 13:42] backmeupplz commented on #135
See, you're already trying to "patch" this solution :)

The attack vector is simple: a human-spammer joins a group, then the human-spammer invites thousands of bot-spammer accounts. Then you will have to weed these spammer accounts manually.

[2021-05-06 18:52] samuelgrigolato commented on #135
That's fair enough, thanks for taking the time to explain it in further details.

Even considering the necessity of "patching the patch" I can see some room for improvement when it comes to trusted member invites. Of course the machinery to make this work would probably get out of hand real quick and because of that not being worth the effort. In any case the bot is still a net positive and we are

[2021-05-23 06:06] bernd289 opened #138 "Purge Spam messages"
Hey,
Could you maybe add a /purge command?
Maybe with a start and a stop chat position as parameter.

E.g. to mass delete many spam messages from over night in a group.

[2021-05-23 14:12] backmeupplz commented on #138
Unfortunately, I won't be adding this function. Shieldy is a bot that prevents spam and not intended for the group management or post-fact spam removal

[2021-05-23 14:12] #138 closed

[2021-05-24 10:06] GAUTAMRAJU15 opened #139 "Shieldy not removing new joinee messages after verification step"
Hi! I decided to add Shieldy bot to a telegram channel https://t.me/dmscriptgroup ( still there ). Whenever a new user joins in, it asks to solve a math puzzle, But the problem is after submitting, it doesn't remove the user's answer. I have to manually remove all those numbers.
Any help would be appreciated. Thanks!

[2021-05-24 14:17] backmeupplz commented on #139
Make sure Shieldy is an admin.

[2021-05-24 14:17] #139 closed

[2021-05-30 16:27] RonQen opened #140 "Trying to run shieldy locally doesnt work"
Unfortunately I cant connect the Docker to the DB. I can connect to the DB manually via shell though. Can someone help me solve the issue?

[code]

[2021-05-30 16:30] backmeupplz commented on #140
ask @masaruhoshi about Docker :) they are the ones who built the latest docker file (https://github.com/1inch/shieldy/pull/110)

[2021-05-30 16:30] #140 closed

[2021-05-31 05:30] sotcsa opened #141 "git binary needs to be installed also"
## Issue
Git is not installed but yarn install tries to use it.

## How to reproduce:
Fresh git clone
docker-compse up

The log shows the error
[code]

## Suggested fix:
add git to list of installable packages:
https://github.com/1inch/shieldy/blob/afb7e312cb95600ceb17cd2a8704eed1871f6f5b/Dockerfile#L15

[2021-05-31 14:02] backmeupplz commented on #141
@PeterDaveHello is there any chance you can help with this?

[2021-05-31 14:22] PeterDaveHello commented on #141
Well ... it's caused by 9378f0b26e9302e43fee3cb4c67acc9caac3d6b2 and the following 6b70ed74b5c4e0e0bfa5b98345f0f62f588fb5b5, 75d6523afb48d0c587cc462539cf8ad094f3b8c0, I'd send a pull request to add git into Docker image.

[2021-05-31 14:29] PeterDaveHello commented on #141
#142 should fix it

[2021-05-31 19:20] #141 closed

[2021-05-31 19:21] backmeupplz commented on #141
@PeterDaveHello thank you a lot for the fixes! :)

[2021-05-31 19:29] sotcsa commented on #141
Many thanks, a really quick fix, awesome!

[2021-05-31 21:45] Rulexec commented on #134
Implemented: #146 , ready for your feedback.

[2021-06-03 09:30] Akiyamka commented on #134
This is a very useful feature, recently bots have been easily bypassed by solving problems with the help of people for money. Topical questions aimed at the target audience of the group would greatly complicate such attacks.

[2021-06-04 15:18] ManakAhuja opened #147 "It deletes commands made for other bot"
Shieldy deletes commands made for other bots, particularly for CryptoWhale bot. If a non titled person is writing /p BTC command, it deletes the command message. Please add a option to turn in on/off coz it creates an issue.

[2021-06-21 01:50] alice-dfi opened #152 "Inchy"

[2021-07-06 02:37] G-i-o opened #158 "Custom Text Filters"
PROBLEM: In our group we are currently flooded by scam posts with text-only content referring to the Trustwallet and a specific passphrase  (see attached examples).

![20210706-033240 Screenshot](https://user-images.githubusercontent.com/36502493/124533921-c157f500-de02-11eb-9832-2856e45e7dbf.png)

The post may different in the introductory text but the passphrase is always the same or changes rar

[2021-07-06 11:50] G-i-o commented on #134
Hello @Rulexec .
Has this been deployed yet? I can't see the option in the Shieldy /help output.

There is only the option to customize the captcha message and single button....or I am missing something?

Thank YOU.

[2021-07-06 12:14] Rulexec commented on #134
No, not merged/deployed yet.

[2021-07-06 12:18] G-i-o commented on #134
Thank You for your prompt reply Alexander.

I'll be waiting and eagerly looking forward to
test this.

🙏️

On Tue, 2021-07-06 at 05:14 -0700, Alexander
Ruliov wrote:

[2021-07-06 12:25] Rulexec commented on #134
If you only want to test it, you can try `@sesuritu_bot`, I runned a fork with this feature at least until it will not be merged in upstream (our chat was too flooded with bots).

But there is no any guarantee, that this bot will work long enough and currently it's running on very cheap machine.

[2021-07-06 12:32] G-i-o commented on #134
Cool. Thanks a lot. I'll try that so that I'll be
more prepared when the merge happens.

🙏️

On Tue, 2021-07-06 at 05:25 -0700, Alexander
Ruliov wrote:

[2021-07-08 08:09] Akiyamka commented on #158
Just use @grep_robot for this

[2021-07-08 09:30] G-i-o commented on #158
Hi Alexander,

I still like Shieldy to implement some of the
options as we prefer to keep the number of bots,
especially those whom source we are not confident
of, to a minimum.

HOWEVER, for right now, THANK YOU!!! This will
save us quite some time,

Very much appreciation for taking your time to
suggest this. 🙏️

On Thu, 2021-07-08 at 01:09 -0700, Alexander
CherryTea wrote:

[2021-07-25 15:11] azhiltsov opened #161 "Detect DB connection status and attempt to reconnect."
I noticed if DB is down (for upgrade or due to a failure) then shieldy does not detect that and does not reconnect automatically.
The desired behavior would be attempt to reconnect.

[2021-07-29 07:37] kokizzu opened #163 "What does this do? banNewTelegramUsers"
someone in my group (that are not admin) called this command:
`banNewTelegramUsers — instantly ban (or kick) newcomers with Telegram ID over 1 000 000 000`

1. how can it be? he's not an admin but shieldly acknowledge that command
2. why is id above 1 000 000 000?

[2021-07-29 07:39] alice-dfi commented on #163
Anything is possible…you should know that

On Thu, Jul 29, 2021 at 3:37 AM Kiswono Prayogo ***@***.***>
wrote:

--
3ngj3llvalt3ri

[2021-07-29 07:40] kokizzu commented on #163
how to undo the command?

[2021-07-29 07:42] kokizzu commented on #163
ah, nevermind, i should call `/lock` first

[2021-07-29 07:42] #163 closed

[2021-07-29 07:42] alice-dfi commented on #161
No desire yet

[2021-09-19 00:51] NSTAdventure opened #166 "Some problem with shield"
1. Too many useless command
No need to add command for restrict bot or similar things owner (or admin with enough permission can block user from add other manually) (/underattack /noattack)
2. Command is too long
Ok i list all those too long command here:
/customCaptchaMessage
/deleteEntryMessages
/deleteGreetingTime
/deleteEntryOnKick

Maybe you can consider to add shortened version for / command

[2021-09-20 10:59] mrkct opened #167 "Disable kicking users if the group does not allow to send messages"
Recently the admin of a telegram group chat I'm in decided pin a message redirecting people to a new group and to disallow everyone to send messages in the old group.

Some people still join the old group via link, but they get kicked by Shieldy since they cannot send a message. It would be nice if Shieldy disabled this feature if it notices that the user cannot send messages

[2021-09-21 04:22] backmeupplz commented on #167
it simply should not be used in groups with disabled message sending

[2021-09-21 08:51] mrkct commented on #167
You're right, it's just that I imagine people add the bot and forget about it. It would be a nice quality of life feature. I don't know how hard it is to implement

[2021-09-27 21:10] queengooborg opened #168 "Give a user a notice when sending a message disallowed by /restrict"
In some of the Telegram chats I administer or own, I've had a few people complain about not being able to send messages at first.  Because of the nature of these groups (mostly art sharing), our solution has been to disable `/restrict` mode, but some groups may not want to do this.

I think it would be a nice touch if Shieldy were to send a user a message after deleting a disallowed message during

[2021-09-28 17:49] backmeupplz commented on #168
Just add the explanation to your greeting :) mentions include mentions of other channels and things like "link in bio -> @borodutch"

[2021-10-04 10:21] panos opened #169 "Messages from others that mention a user that just joined before the user solves the CAPTCHA get deleted"

[2021-10-04 10:43] albertoxamin opened #170 "Send challenges silently"
There are cases in which the bot is added to very large groups that need to have notifications on.
It would be beneficial if in such groups the bot could send messages with the silent feature in telegram.
So when a new user joins it wont bother thousands of the group's members.
This option needs to be passed according to the telegram bot apis `disable_notification`

https://core.telegram.org/bots/

[2021-12-28 15:15] voidzero opened #177 "Private group + invite links: no captcha?"
Greetings,

I hope I'm not making a mistake but it seems that a user who joins a private group via an invite link does not get the captcha... and as such, not the greeting. Is this correct, and is there something I can do to enable this after all?

Thanks
Mark

[2021-12-30 22:15] backmeupplz commented on #177
I don't think you need Shieldy in such groups

[2021-12-30 22:16] backmeupplz commented on #177
Captcha should be shown there.

[2021-12-30 23:44] voidzero commented on #177
Well I did try everything I could, but I can not get the captcha to display, nor to get the welcome message to display...

[2022-03-05 19:13] Sa-Ja-Di opened #182 "Your bot does not work reliable, no captcha shown when joining some groups"
Hello, i just think you should check your bot, as it seems that Captcha are only shown randomly when joining groups, i made the experience that once joining a group on Telegram no captcha is shown in many cases which leads to being banned from groups.

This is a disastrous as it restricts many users from joining protected Chats.

Please fix that, i am sick and tired of not being able to join group

[2022-03-11 12:01] ruiflcruz commented on #42
I can't seem to get the greetings message to work. Yes I replied to the bot with the custom message, I removed links and stuff that might prevent the message from being sent but still no success. Any suggestion?

[2022-03-20 19:11] Kwaskoff commented on #167
and don't kick users when they didn't pass captcha - only restricted messaging

[2022-03-20 19:13] Kwaskoff opened #183 "restricted for messaging"
I don't want ban anybody, how I can restricted messaging for everybody who can't solve captcha only?
Do we need new functionality?

[2022-03-24 09:57] codenoid opened #184 "Send message as Channel bypass non-text message restriction (before 24h)"

[2022-03-24 10:00] codenoid commented on #184
I join [@GolangID](https://t.me/GolangID), and about 10 hours later, I want to post a link, but got deleted

then I try to post it with my channel [@EJUpdates](https://t.me/EJUpdates), It's bypass the restriction

[2022-04-06 01:45] carrotcypher opened #185 "Raids are causing Shieldy to become the spammer"
Can Shieldy have an option to send the message to users via PM instead of inside the channel? At the moment it's unusable for any channel that is suffering from raids as the bot will correctly keep the bots from talking but talk about them each time they join effectively spamming on their behalf.

[2022-04-06 02:51] carrotcypher commented on #185
@backmeupplz Is this something that is implementable easily?

[2022-04-06 14:25] backmeupplz commented on #185
This isn't possible due to how Telegram limits the bots

[2022-04-12 14:27] backmeupplz commented on #185
Use `/underAttack` — this will cause all newcomers to fail captcha without the message. Turn on autodeleting the greeting/captcha — this will cause Shieldy to clean up after a set period

[2022-04-12 14:36] carrotcypher commented on #185
First thing we tried was the /underattack command. This didn't stop thousands of welcome messages from Shieldy every second despite kicking the bots. Eventually the messages were deleted, but bot before every member of the group was alerted a thousand times of new messages.

Is /underattack supposed to not have the bot greet anyone either? If so, not sure why it was still sending hundreds of welco

[2022-04-12 14:57] backmeupplz commented on #185
You probably didn't turn on /underAttack, it silences all Shieldy messages

[2022-04-19 08:36] hyunduk0206 commented on #182
I had a similar experience.
1) Button-type captcha was shown after 20 sec when I have been kicked and have re-joined.
2) Someone report me that Button-type captcha is not shown when one have been kicked and have re-joined.

[2022-04-25 06:33] subzero911 opened #187 "Any users can call Shieldy commands!😱"
<Details>
<Summary>Chat screenshot</Summary>

![image](https://user-images.githubusercontent.com/12999702/165032533-e0ef2026-b965-4de5-b3b5-c5b2ccf1a11a.png)
</Details>
This user is not an admin, but he turned on and off panic mode somehow!

How to restrict Shieldy for being used by admins only?
Here's a full config:
![image](https://user-images.githubusercontent.com/12999702/165032711-53aca876-fc

[2022-04-25 06:52] subzero911 commented on #187
People from support chat helped me.
/lock command did the job.

[2022-04-25 06:52] #187 closed

[2022-08-12 17:17] Shad0wGlitch opened #191 "Feature: Account last seen long time ago"
Remove account last seen long time ago is possible? Or you can tell me a bot that can do this? I have 34k group.

[2022-08-28 06:02] KelvinCrag opened #194 "Shieldy is a slut"
I just added this bot to my group, so anyone can edit shieldy settings? 😂

When users send /start they can easily click on any command and edit, what a joke 😂

[2022-08-29 14:58] backmeupplz commented on #194
With /lock off by default: non-admin adds Shieldy to the group -> sets it up -> locks it, admins don't have to do anything
With /lock on by default: non-admin adds Shieldy to the group -> can't do nothing -> Shieldy spams the group with non-working captchas that no one chose -> Shieldy is banned for spam

[2022-09-03 20:51] KelvinCrag commented on #194
@backmeupplz
**Note that non-admin can not give admin rights to a bot.**

If the bot is added by a non-admin, it's as good as useless, the bot can not do anything other than send a message, it will just be another member. So your two sentences are THE SAME.

If /lock is on by default, as an admin adds the bot to his group, group members cannot missuse the bot and admins will not have to experience

[2022-09-05 15:40] backmeupplz commented on #194
@KelvinCrag I'm so glad Shieldy has been kept open source and MIT licensed. It means that you don't have to agree with me or 1inch, just launch your own instance of Shieldy! :)

[2022-10-04 01:26] alkaris2 opened #195 "[Improvement] Better Documentation + Wiki"
Shieldy could do with better documentation and a Wiki containing more details on variables, and How-Tos on setting parameters in the config. Documentation is very lacking and confusing at best even with what little info Shieldy shows with its `/help` command.

If you want it more easily accessible and easily understandable for setting up, having more documentation would be a huge plus.

We need mo

[2022-11-12 15:30] musicislife08 opened #196 "Shieldy not posting greeting message/capcha on a group with the new topics enabled"
when a group has "topics" enabled shieldy will need some way of replying to the first pinned message for that topic on every one of its messages to allow users to select which topic in a group to post the messages to.  for now we have to have topics disabled because shieldy no longer posts that message with it enabled.